#header {
  background-color: black;

  header {
    font-size: 40px;
    visibility: hidden;
  }
}

#main,
#index {
  .tab-pane {
    margin-top: 15px;
  }
  form {
    margin-left: 25px;
  }
  label {
    font-weight: bold;
    padding-top: 7px;

    span {
      font-weight: bold;
    }
  }
  button {
    span {
      display: none;
    }
  }
  table {
    border: 1px solid black;
  }

  @media screen and (max-width: 576px) {
    form {
      margin-left: 0;
    }
  }
}

#index {
  @media screen and (max-width: 576px) {
    .text-right {
      text-align: left !important;
    }
  }
}

#main {
  h4 {
    text-decoration: underline;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 15px;
  }
  p {
    font-weight: bold;
    margin-left: 25px;
  }
  span {
    font-weight: normal;
  }

  #home {
    th {
      width: 25%;
    }
    td {
      vertical-align: middle;
    }
  }

  #shop {
    th {
      &:nth-child(1) {
        width: 30%;
      }
      &:nth-child(2) {
        width: 50%;
      }
      &:nth-child(3) {
        width: 20%;
      }
    }
    td {
      vertical-align: middle;

      &:last-child:not(:first-child) {
        text-align: right;
      }

      button {
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
      }
    }
    #mys p {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 576px) {
    h4 {
      margin-left: 0;
    }
    p {
      margin-left: 0;
    }
    .info {
      width: 30%;
    }
  }
}
