/* Global Style */
#header{
    background-color: black;
}
header{
    font-size: 40px;
    visibility: hidden;
}
.tab-pane{
    margin-top: 15px;
}
form{
    margin-left: 25px;
}
label{
    font-weight: bold;
    padding-top: 7px;
}