/* Main */
@import url(base.css);

h4{
    text-decoration: underline;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 15px;
}
p{
    font-weight: bold;
    margin-left: 25px;
}
span{
    font-weight: normal;
}
#home th{
    width: 25%;
}
#shop th:nth-child(1){
    width: 25%;
}
#shop th:nth-child(2){
    width: 50%;
}
#shop th:nth-child(3){
    width: 25%;
}