/* Global Style */
#header{
    background-color: black;
}
header{
    font-size: 40px;
    visibility: hidden;
}
.tab-pane{
    margin-top: 15px;
}

/* Index */
@media screen and (min-width:576px){
    label{
        text-align: right!important;
    }
}

/* Main */
th{
    width: 25%;
}