/* Global Style */
#header{
    background-color: black;
}
header{
    font-size: 40px;
    visibility: hidden;
}
.tab-pane{
    margin-top: 15px;
}
form, p{
    margin-left: 10px;
}
label, h4, p{
    font-weight: bold;
}
label{
    padding-top: 7px;
}
h4{
    padding: 10px;  
}

/* Index */
@media screen and (min-width:576px){
    #log label, #reg label{
        text-align: right!important;
    }
}

/* Main */
#pro1, #pro2{
    font-weight: normal;
}
th{
    width: 25%;
}