/* Global Style */
#header{
    background-color: black;
}
header{
    font-size: 40px;
    visibility: hidden;
}
.tab-pane{
    margin-top: 15px;
}
form{
    margin-left: 10px;
}
label{
    font-weight: bold;
}
label:not(.custom-control-label){
    padding-top: 7px;
}

/* Index */
@media screen and (min-width:576px){
    #login label, #register label{
        text-align: right!important;
    }
}
#register span{
    font-weight: bold;
    padding-top: 7px;
}

/* Main */
#pro1, #pro2{
    font-weight: normal;
}
#home th{
    width: 25%;
}
#home h4{
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 12px;
}
#home p{
    font-weight: bold;
    margin-left: 10px;
}