/* Global Style */
#header{
    background-color: black;
}
header{
    font-size: 40px;
    visibility: hidden;
}
.tab-pane{
    margin-top: 15px;
}

/* Index */
#reg div + label{
    text-align: left;
}

/* Home */
#pro label, #sho label{
    text-align: left;
}
#pro1, #sho1{
    font-size: 24px;
}
#pro2, #pro3{
    font-weight: normal;
}