<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DB</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <div id="header">
      <header>Header</header>
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" id="tab1"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#shop" id="tab2">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#logout" id="tab3"
          >Logout</a
        >
      </li>
    </ul>

    <div class="tab-content" id="main">
      <div class="tab-pane container-fluid active" id="home">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12"><h4>Profile</h4></div>

              <div class="col-sm-3 col-lg-2"><p>Account</p></div>
              <div class="col-sm-3 col-lg-2">
                <p><span><%= account %></span></p>
              </div>
              <div class="w-100"></div>

              <div class="col-sm-3 col-lg-2"><p>Phone</p></div>
              <div class="col-sm-3 col-lg-2">
                <p><span><%= phone %></span></p>
              </div>
              <div class="w-100"></div>

              <div class="col-sm-12"><h4>Shop List</h4></div>
            </div>

            <form action="/get-info" method="POST" id="sho">
              <div class="form-group row">
                <div class="col-sm-3 col-lg-2">
                  <label for="sho1">Shop</label>
                </div>
                <div class="col-sm-9 col-lg-6">
                  <input
                    type="text"
                    class="form-control"
                    name="shop"
                    id="sho1"
                  />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3 col-lg-2">
                  <label for="sho2">City</label>
                </div>
                <div class="col-sm-9 col-lg-6">
                  <select class="form-control" name="city" id="sho2">
                    <option selected>All</option>
                    <% cities.forEach(function (c) { %>
                    <option><%= c %></option>
                    <% }); %>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3 col-lg-2">
                  <label for="sho3">Price</label>
                </div>
                <div class="col-sm-9 col-lg-6">
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      name="min_price"
                      id="sho3"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">~</span>
                    </div>
                    <input
                      type="number"
                      class="form-control"
                      name="max_price"
                      id="sho4"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3 col-lg-2">
                  <label for="sho5">Amount</label>
                </div>
                <div class="col-sm-9 col-lg-6">
                  <select class="form-control" name="amount" id="sho5">
                    <option selected>All</option>
                    <option>(Sold out) 0</option>
                    <option>(Rare) 1 ~ 99</option>
                    <option>(Adequate) 100+</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4 col-lg-2">
                  <button type="submit" class="btn btn-primary" id="sho6">
                    <span class="spinner-border spinner-border-sm"></span>
                    Search
                  </button>
                </div>
                <div class="pt-2 col-sm-8 col-lg-10">
                  <div class="custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="checked"
                      id="sho7"
                    />
                    <label class="pt-0 custom-control-label" for="sho7"
                      >Only show the shop I work at</label
                    >
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-sm-6">
            <table class="table table-striped" id="table1">
              <thead class="thead-dark">
                <tr>
                  <th>Shop</th>
                  <th>City</th>
                  <th>Mask Price</th>
                  <th>Mask Amount</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>

      <div class="tab-pane container-fluid fade" id="shop">
        <%- include(template) %>
      </div>

      <div class="tab-pane container-fluid fade" id="logout"></div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" src="./js/shop-form.js"></script>
    <script type="text/javascript" src="./js/shop-info.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
